.chat-gpt-container {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;
}

@media (prefers-color-scheme: light) {
  .chat-gpt-container {
    border-color: #dadce0;
  }
}

@media (prefers-color-scheme: dark) {
  .chat-gpt-container {
    border-color: #3c4043;
  }
  .chat-gpt-container #answer {
    background-color: #202124;
  }
}

.chat-gpt-container p {
  margin: 0;
}

.chat-gpt-container .gpt-loading {
  color: #b6b8ba;
  animation: gpt-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  padding: 15px;
}

@keyframes gpt-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.chat-gpt-container.sidebar-free {
  margin-left: 60px;
  height: fit-content;
}

.chat-gpt-container #answer {
  font-size: 15px;
  line-height: 1.6;
  padding: 15px;
  border-radius: 8px;
}

.chat-gpt-container #answer pre {
  /* margin-top: 10px; */
  border-radius: initial;
  margin-bottom: 0;
}

.chat-gpt-container #answer code {
  white-space: pre-wrap;
  word-break: break-all;
}

.chat-gpt-container .code-block {
  border-radius: initial;
  margin: -16px;
  display: flex;
  flex-direction: column;
}

.chat-gpt-container .code-block .copy-btn-wrapper {
  background-color: #343541;
  display: flex;
  justify-content: end;
  padding: 8px 16px;
}

.chat-gpt-container .code-block .copy-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #d9d9e3;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}
.chat-gpt-container .code-block .copy-btn.copied {
  background-color: #2da44e;
}

.chat-gpt-container .code-block .hljs {
  border-radius: initial;
  margin: -35px -16px -52px;
  background: #000;
}